* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-color: #444;
    color: white;
    
}

body {
    display: grid;
    grid-template: 1fr 1fr 4fr 1fr / 1fr .4fr 1fr;
    height: 93vh;
    width: 93vw;
    
}

#title {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 3rem;
    justify-self: start;
}

#current-player {
    grid-area: 2 / 1 / 3 / 4;
    font-size: 2rem;
    justify-self: center;
}

#change-turn-button {
    grid-area: 4 / 1 / 5 / 4;
    height: 50%;
    width: 30%;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    background-color: rgba(0, 255, 255, 0.506);
    color: white;
    border: none;
}
#change-turn-button:hover {
    background-color: rgba(0, 255, 255, 0.191);
}
#change-turn-button:active {
    background-color: rgba(0, 255, 255, 0.136);
}

#current-player-game-board-display,#other-player-game-board-display {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background-color:rgb(0,200,255);
    grid-area: 1 / 2 / 2 / 3;
}
#current-player-game-board-outer, #other-player-game-board-outer {
    display: grid;
    grid-template: 1fr 2rem / 2rem 1fr;
}
#current-player-game-board-outer {
    grid-area: 3 / 1 / 4 / 2;
}
#other-player-game-board-outer {
    grid-area: 3 / 3 / 4 / 4;
}
#vertical-numbering-current,
#horizontal-numbering-current,
#horizontal-numbering-placement,
#vertical-numbering-placement {
    background-color:rgb(0,200,255);
}

#horizontal-numbering-other,#vertical-numbering-other {
    background-color:rgb(0,175,255); 
}

#vertical-numbering-current, #vertical-numbering-other,
#vertical-numbering-placement {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#horizontal-numbering-current, #horizontal-numbering-other,
#horizontal-numbering-placement {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#current-start-block,
#placement-start-block {
    grid-area: 2 / 1 / 3 / 2;
    background-color:rgb(0,175,255); 
}
#other-start-block {
    grid-area: 2 / 1 / 3 / 2;
    background-color:rgb(0,200,255);
}


#current-player-game-board-display {
    grid-area: 1 / 2 / 2 / 3;
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: rgb(0,200,255);
    
}
#other-player-game-board-display {
    grid-area: 1 / 2 / 2 / 3;
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: rgb(0,175,255);
}



#game-board-location {
    height: 9.3%;
    width: 9.3%;
}

#game-board-location.none {
    background-color:rgb(0,175,255);
}
#game-board-location.noneOther {
    background-color: rgb(0,200,255);
}
#game-board-location.noneOther:hover {
    background-color: rgba(0, 200, 255, 0.4);
}
#game-board-location.missed {
    background-color:rgb(0, 94, 138);
}
#game-board-location.ship {
    background-color:rgb(107, 0, 0);
}

#game-board-location.hit {
    background-color:red;
}
#game-board-location.sunk {
    background-color:rgba(107, 0, 0, 0.548);
}
#vs-computer, #vs-player {
    font-size: 4rem;
    border: none;
    color: rgb(255,255,255);
}
#vs-computer {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgba(0, 200, 255, 0.7);
}
#vs-computer:hover {
    background-color: rgba(0, 200, 255, 0.5);
}
#vs-computer:active {
    background-color: rgba(0, 200, 255, 0.3);
}

#vs-player {
    grid-area: 2 / 3 / 3 / 4;
    background-color:rgba(0,175,255, .7);
}

#vs-player:hover {
    background-color:rgba(0,175,255, .5);
}

#vs-player:active {
    background-color:rgba(0,175,255, .3);
}

#ship-placement-screen {
    grid-area: 2 / 1 / 5 / 4;
    display: grid;
    grid-template: 3rem 1fr 3rem / 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

#ship-placement-buttons {
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
}
#done-placing-button {
    height: 100%;
    width: 20%;
    font-size: 2rem;
    border: none;
    background-color: rgba(0, 175, 255, 1);
}
#done-placing-button:hover {
    background-color: rgba(0, 200, 255, 0.8);
}
#done-placing-button:active {
    background-color: rgba(0, 200, 255, 0.5);
}
#reset-placing-button {
    height: 100%;
    width: 20%;
    font-size: 2rem;
    border: none;
    background-color: rgba(0, 150, 255, 1);
}
#reset-placing-button:hover {
    background-color: rgba(0, 150, 255, 0.8);
}
#reset-placing-button:active {
    background-color: rgba(0, 150, 255, 0.5);
}

#player-title-ship-placement {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    height: 100%;
}

#ship-placement-container {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#placement-game-board {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 1fr 2rem / 2rem 1fr;
}

#locations {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

    height: 100%;
    width: 100%;
    background-color:rgb(0,200,255);
}

#player-ships {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 2rem / 2rem 1fr;
}

#player-ships-container {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

#carrier, #battleship, #cruiser, #submarine, #destroyer {
    background-color:rgb(107, 0, 0);
    position: fixed;
    
}
#carrier:hover, #battleship:hover, #cruiser:hover, #submarine:hover, #destroyer:hover {
    background-color:rgba(107, 0, 0, .75);
}

#carrier {
    height: 29%;
    width: 2%; 
}
#carrier.rotate {
    width: 20%;
    height: 3.3%; 
}

#battleship {
    height: 22.7%;
    width: 2%; 
}
#battleship.rotate {
    width: 15.7%;
    height: 3.3%;
}

#cruiser {
    height: 16.44%;
    width: 2%;  
}
#cruiser.rotate {
    width: 10.4%;
    height: 3.3%;
}

#submarine {
    height: 16.44%;
    width: 2%; 
}
#submarine.rotate {
    width: 10.4%;
    height: 3.3%; 
}

#destroyer {
    height: 10.14%;
    width: 2%; 
}
#destroyer.rotate {
    width: 6.1%;
    height: 3.3%;
}

/*
#carrier {
    height: 31%;
    width: 4%; 
}
#carrier.rotate {
    width: 31%;
    height: 4%;
}

#battleship {
    height: 24.7%;
    width: 4%;
}
#battleship.rotate {
    width: 24.7%;
    height: 4%;
}

#cruiser {
    height: 18.44%;
    width: 4%;
}
#cruiser.rotate {
    width: 18.44%;
    height: 4%;
}

#submarine {
    height: 18.44%;
    width: 4%;
}
#submarine.rotate {
    width: 18.44%;
    height: 4%;
}

#destroyer {
    height: 12.14%;
    width: 4%;
}
#destroyer.rotate {
    width: 12.14%;
    height: 4%;
}
*/